
      h2 {
        color: black;
        text-align: center;
      }
      h1 {
        color: rgb(0, 0, 0);
        text-align: center;
      }
      .Titans{
        display :flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .Comic {
        width: 450px;
        height: 450px;
        overflow: hidden;
        background-color: white;
        border-radius: 50px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
      }
      .Comic{ 
        padding: 20px;

      }
      body {
        background-image: linear-gradient(#aa4b6b, #6b6b83, #3b8d99);
      }

      
 